html {
    font-family: Helvetica, sans-serif;
}

body {
    font: inherit;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin: 2em;
    box-sizing: content-box;
}

p {
    width: 800px;
}

header h1,
header aside{
    display: inline-block;
    margin: 0 auto;
}

aside {
    position: absolute;
    left: 830px;
    top: 1em;
}

ul p {
font-size: 20px;
font-weight: bold;
margin-bottom: 0.5em;
}

header ul li a{
    color: blue;
}

h1 {
    font-size: 30px;
}

img {
    display: block;
    width: 75%;
    height: auto;
}



