@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 20px Inter;
}

h1 {
    color: black;
}

header {
    display: flex;
    background-color: rgba(217, 217, 217, 1);
    justify-content: space-between;
    padding: 2.75em 3em 2.75em 5em;
}

header nav ul {
    display: flex;
    gap: 2em;
}

nav ul li {
    list-style: none outside;
}

ul li a {
    text-decoration: none;
    color: black;
}

header .button {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: white;
    padding: 0.5em 1em;
}

.site-title.banner {
    background-image: url(images/background.jpg);
    background-position: bottom;
    background-size: 100%;
    padding-top: 9em;
    padding-left: 14em;
    padding-bottom: 7em;
}

.site-title.banner article {
    width: 600px;
    height: auto;
}

.site-title.banner article h1 {
    font-size: 2.3em;
    padding-bottom: 1.5em;
}

.site-title.banner article p {
    font-weight: 800;
    padding-bottom: 4em;
    color: white;
    font-size: 0.9em;
}

.site-title.banner article .button {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 0.2em;
    padding: 0.8em 1.3em;
}

.site-title.statistics {
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

.site-title.statistics .stat {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.site-title.statistics .stat h1 {
    color: rgba(255, 124, 76, 1);
    padding-bottom: 1em;
}

.site-title.statistics .stat p:nth-child(3) {
    font-size: 0.7em;
    padding-top: 1em;
    color: gray;
}

.site-title.gray {
    background-color: rgba(217, 217, 217, 1);
    padding-top: 2em;
}

.site-title.gray .row-card {
    display: flex;
    max-width: 1600px;
    padding: 0 3em 2em 2em;
    align-items: center;
}

.site-title.gray .row-card .image {
    max-width: 630px;
    display: flex;
}

img {
    width: 100%;
    height: auto;
}

.site-title.gray .row-card .text {
    padding-left: 2em;
    color: gray;
}

.site-title.gray .row-card .text h4,
.site-title.gray .row-card .text h1 {
    padding-bottom: 2em;
}

.site-title.gray .row-card .text>p,
.site-title.gray .row-card .text a {
    font-size: 0.8em;
    padding-bottom: 0.3em;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.site-title.gray .row-card .text footer {
    font-size: 0.8em;
    padding-top: 3em;
}

.site-title.pricing-plans {
    background-color: rgba(245, 245, 245, 1);
    padding: 0 3em;
}

.site-title.pricing-plans .container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 2em;
}

.site-title.pricing-plans .free-text {
    max-width: 525px;
    color: rgba(89, 89, 89, 1);
}

.site-title.pricing-plans .free-text h3 {
    padding-top: 1em;
    padding-bottom: 2em;
    color: black;
}

.site-title.pricing-plans .cards {
    display: flex;
    max-width: 1060px;
    gap: 1.5em;
}

.cards .card {
    display: flex;
    flex-direction: column;
    width: 430px;
    align-items: center;
}

.cards .card-orange {
    background-color: rgba(255, 124, 76, 1);
}

.cards .card-black {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.cards .card-text-container {
    display: flex;
    padding: 1em 3em;
    flex-direction: column;
    align-items: center;
}

.cards .card-text-container h4 {
    padding-bottom: 2em;
}

.cards .card-text-container .price {
    font-size: 3em;
    font-weight: 200;
    padding-bottom: 2rem;
}

.cards .card-text-container .diff-padding {
    padding-bottom: 1rem;
}

.cards .card-orange .card-text-container .button {
    background-color: black;
    color: white;
}

.cards .card-black .card-text-container .button {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(94, 93, 93);
}

.cards .card-orange .card-text-container .button,
.cards .card-black .card-text-container .button {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 300;
    border-radius: 0.2em;
    padding: 0.8em 1.5em;
}

.cards .card-orange .card-text-container span,
.cards .card-black .card-text-container span {
    font-weight: bold;
}

.site-title.footer {
    background-color: rgba(217, 217, 217, 1);
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}

.site-title.footer a {
    width: 24px;
    aspect-ratio: 1/1;
    display: flex;
}

.site-title.footer a svg {
    width: 100%;
    height: auto;
}