@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px Poppins, sans-serif;
    color: rgba(73, 73, 73, 1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    color: rgba(34, 34, 34, 1);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    width: 1000px;
    margin: 4em auto;
    gap: 3em;
}

.container>.text {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
}

.container .text h1 {
    padding-bottom: 1.5em;
    font-weight: 500;
}

.container>.text>p:nth-child(2) {
    padding-bottom: 1em;
}

.container .text .icons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 1em;
}

.container .text .icons .icon{
    display: flex;
    flex: 1 1 20%;
    align-items: center;
    gap: 1em;
}
.container .text .icons .icon .media {
    flex: 0 0 10%;
}


.container>.media {
    flex: 1 1 45%;
}



