* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(166, 153, 153, 1);
    ;
}

.container {
    background-color: rgba(233, 233, 233, 1);
    padding: 5em 0;
}

.card {
    display: flex;
    max-width: 900px;
    height: 530px;
    margin: 0 auto;
    background-color: white;
}

.left,
.right {
    flex: 1 1 50%;
}

.left {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(image/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 2em;
    font-weight: bold;
}

.left main {
    text-align: center;
    font-weight: lighter;
}

.left main h1 {
    font-weight: lighter;
}

.left main p {
    font-size: 1.5em;
}

.left footer {
    display: flex;
    margin: 0 auto;
    gap: 1em;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    color: rgba(166, 153, 153, 1);
}

.right h5 {
    padding-bottom: 2em;
    font-weight: 200;
    color: rgba(204, 204, 204, 1)
}

.right .border {
    border-bottom: 1px solid rgba(166, 153, 153, 1);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.registration-info p {
    padding-left: 1em;
}

.buttons {
    display: flex;
    gap: 1em;
}

.button.black {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.8em 3em;
    border-radius: 2em;
}

.button:nth-of-type(2) {
    text-decoration: underline;
    font-weight: bold;
    align-content: center;
}