@media (max-width: 600px) {
    .home-header {
        height: auto;
        justify-content: center;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 12px;
    }

    .home-container01 {
        flex: 0 0 100%;
    }

    .home-nav {
        margin-top: 0.2em;
        padding-left: 0;
    }

    .navigation-links-nav {
        align-items: flex-start;
    }

    .navigation-links-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .navigation-links-text1 {
        margin-left: 0;
    }

    .blog-post-card3-blog-post-card {
        flex-direction: column;
    }

    .home-blog {
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;
    }

    .home-stats {
        grid-template-columns: 1fr 1fr;
    }

    .home-container06 {
        flex-direction: column;
    }

    .home-container07 {
        align-items: center;
    }

    .home-container08 {
        width: 100%;
        flex-direction: column;
        gap: 2em;
    }

    .home-container09,
    .home-container10 {
        width: 90%;
        margin-right: 0;
    }
}