* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px Helvetica, sans-serif;
    color: rgba(41, 50, 63, 1);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: rgba(41, 50, 63, 1);
}

.container {
    display: flex;
    width: 1200px;
    margin: 4em auto;
    background-color: rgba(246, 248, 249, 1);
    justify-content: space-between;
}

.text {
    max-width: 425px;
    margin: 4em 3.2em;
    display: flex;
    flex-direction: column;
}

.text p:first-child {
    font-size: 0.63em;
    font-weight: bold;
    padding-bottom: 1.5em;
}

.text h1 {
    font-size: 1.8em;
    font-weight: lighter;
    padding-bottom: 1em;
}

.text p:nth-child(3) {
    line-height: 1.5;
    color: rgba(102, 111, 120, 1);
    padding-bottom: 2em;
}

.button {
    display: inline-block;
    border-radius: 0.2em;
}

.button:first-of-type {
    background-color: rgba(117, 115, 246, 1);
    color: white;
    padding: 0.5em 1.3em;
}

.button:nth-of-type(2) {
    padding: 0.5em 1.3em;
    border: 1px solid black;
    margin-left: 0.5em;
}

.media {
    margin-right: 4em;
    align-self: flex-end;
    flex: 0 0 32%
}