@import url(https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font: 20px/1.5 'Kode Mono';
color: white;
background-color: #C1BDBA;
}

.container {
    width: 750px;
    height: auto;
    margin: 2em auto;
    background-color: #24333C;
    padding: 2em;
    border-radius: 0.2em;
}

.container .inner-container {
    display: flex;
    flex-direction: column;
}

.sign-up-log-in {
    display: flex;
    margin-bottom: 2em;
}

.sign-up-log-in p{
    width: 50%;
    padding: 0.7em;
    text-align: center;
}

.sign-up-log-in p:first-child {
    background-color: #1AB188;
}

.sign-up-log-in p:nth-child(2) {
    color: #92999E;
    background-color: #435359;
}

.sign-up-log-in p:nth-child(2):hover {
    background-color: #179A77;
    color: white;
}

.sign-up {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.enter-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-bottom: 2em;
}

.names {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.names p {
    width: 48%;
    border: 1px solid #A0B3B0;
    padding-left: 0.5em;
    font-size: 1.35em;
    color: #92999E;
}

.star {
    color: #1AB188;
    padding-left: 0.3em;
    font-size: 20px;
}

.email, .password {
    width: 100%;
    border: 1px solid #A0B3B0;
    padding-left: 0.5em;
    font-size: 1.35em;
    color: #92999E;
}

.get-started {
    font-size: 2.1em;
    letter-spacing: 0.2rem;
    background-color: #1AB188;
    text-align: center;
    text-transform: uppercase;
    padding: 0.7rem 0;
}
