@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap ');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.site-header {
    background-color: rgba(0, 0, 0, 1);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.2em;
}

.site-header .container .logo a{
    display: block;
    width: 5em;
    height: 2em;
    background-image: url(images/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -100vw;
    overflow: hidden;
}

.site-header .container nav {
    padding: 0.5em 0;
    padding-right: 1em;
}

.site-header .container ul {
    display: flex;
    gap: 2em;
}

.site-header .container ul li a {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

.site-plans {
    position: relative;
}

.site-plans .green {
    background-color: rgba(29, 185, 84, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
    height: 271px;
    padding-top: 2em;
}

.site-plans .music-logo {
    width: 45%;
    position: absolute;
    top: 2em;
}

.site-plans .music-logo img {
    max-height: 700px;
}

.site-plans .cards {
    display: flex;
    justify-content: space-evenly;
    top: -10em;
    position: relative;
}

.site-plans .cards .card {
    flex: 0 0 30%;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0px 0px 4px 2px rgb(144 144 144);
    background-color: rgba(255, 255, 255, 1);
}

.card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.card h2 {
    text-align: center;
    color: rgba(84, 84, 109, 1);
    padding-bottom: 2em;
}

.card ul li {
    list-style: circle inside;
    padding-bottom: 1em;

}

.card ul li p {
    color: rgba(84, 84, 109, 1);
    display: inline;
}

.card .button {
    background-color: rgba(29, 185, 84, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0.5em 2em;
    border-radius: 2em;
    margin-top: 0.5em;
}

.card footer {
    background-color: rgba(25, 20, 20, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
    padding: 1.5em 0;
}

.card footer .text-container {
    text-align: center;
    font-size: 1.5em;
}

.card:first-of-type footer .text-container {
    display: flex;
    justify-content: center;
}

.card:first-of-type footer {
    padding: 0.5em 0;
}

.card footer .text-container .left {
    border-right: 1px solid rgba(255, 255, 255, 1);
    padding: 1rem 0;
    padding-right: 0.5em;
    margin-right: 1em;
}

.card footer .text-container .right {
    padding: 1rem 0;
}

.site-dogopal .container {
    display: flex;
    align-items: center;
    gap: 6em;
    margin: 0 auto;
    margin-left: 6em;
    margin-right: 8em;
}

.site-dogopal .container .text h3,
.site-dogopal .container .text p:not(:last-child) {
    padding-bottom: 1em;
}

.site-dogopal .container .media {
    width: 420px;
}

.site-table {
    margin-top: 5em;
    text-align: center;
}

.site-table h1 {
    padding-bottom: 1em;
}

.site-table table {
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 0.3em;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 5em;
}

.site-table table tr {
    text-align: left;
}

.site-table table th {
    padding: 0.5em 0;
    padding-right: 35em;
    padding-left: 0.5em;
    font-weight: normal;
}

.site-table table td:first-of-type {
    padding-right: 6em;
}

.site-table table td:last-of-type {
    padding-right: 4em;
}

.site-table table tr:nth-child(odd) {
    background-color: rgba(204, 203, 203, 1);
}

.site-table table tr:nth-child(even) {
    background-color: rgba(129, 216, 160, 1);
}

.site-footer {
    background-color: rgba(25, 20, 20, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 2em;
}