@import url(https://fonts.google.com/specimen/Poppins);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px Poppins;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1920px;
    padding: 3em 8.5em 6.5em 8.5em;
}

header {
    text-align: center;
}

header h1 {
    font-weight: 600;
}

h1 span {
    color: rgba(50, 125, 196, 1);
}

.cards-container {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.card {
    background-color: rgba(129, 157, 175, 1);
    border-radius: 1em;
    overflow: hidden;
}

.card .media {
    max-width: 530px;
    border-radius: 1em;
    overflow: hidden;
}

.card .text {
    padding: 2.3em 3.1em 2em 1.4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card .text h2 {
    padding-bottom: 1em;
    font-weight: 600;
}

.card .text p {
    padding-bottom: 1em;
    font-weight: 400;
}

.button {
    background-color: rgba(50, 125, 196, 1);
    padding: 0.3em 1.2em;
    border-radius: 1.5em;
    border: 1px solid rgba(50, 60, 196, 1);
    box-shadow: 0px 0px 0px 1px rgba(210, 215, 218, 1);
    margin-top: 1em;
}

