@media (max-width:600px) {
    #top-bar ul:nth-child(1) {
        padding-left: 1em;
    }

    #top-bar ul:first-child li:last-of-type {
        display: none;
    }

    #main-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #main-menu img {
        padding: 0
    }

    #main-menu ul {
        display: flex;
        gap: 0.5em;
        flex-direction: column;
        align-items: center;
        padding: 0
    }

    #main-menu ul li {
        text-align: center;
        width: 110px;
        border: 1px solid #e52236;
    }

    #left-aside {
        display: flex;
        justify-content: space-around;
    }

    #left-aside article {
        border-bottom: none;
    }

    #news {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }

    #news article {
        width: 100%;
        margin: 0 10px;
    }

    #right-aside {
        width: 95%;
        margin: 5px;
        margin-top: 50px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer ul {
        width: auto;
    }
}