* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px Lato, sans-serif;
    color: rgba(130, 134, 138, 1);
}

.container {
    width: 1200px;
    margin: 2em auto;
}

.articles {
    display: flex;
    gap: 3em;
}

article {
    flex: 1 1 50%;
    border-radius: 0.5em;
}

.blue {
    background-color: rgba(227, 243, 253, 1);
    padding: 2em 2em 2.4em 2em;
    box-shadow: 0px 3px 4px 0px rgb(202, 201, 201);
}

.blue h2 {
    color: rgba(62, 76, 93, 1);
    padding-bottom: 1em;
    font-weight: 600;
}

.blue p {
    padding-bottom: 0.7em;
    font-weight: 600;
}

.blue i {
    color: rgba(69, 169, 248, 1);
    padding-right: 1em;
    font-weight: bold;
}

.border {
    border: 5px solid rgba(68, 169, 248, 1);
    padding: 2.25em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border h3:not(span) {
    font-weight: 600;
}

.border span {
    color: rgba(68, 169, 248, 1);
    font-size: 2em;
    font-weight: bold;
}

.border p {
    padding-top: 2em;
    font-weight: bold;
}

.button {
    text-decoration: none;
    color: white;
    background-color: rgba(68, 169, 248, 1);
    padding: 0.5em 2.5em;
    margin-top: 2em;
    border-radius: 0.5em;
    font-weight: bold;
    box-shadow: 0px 3px 4px 0px rgb(202, 201, 201);
}
