html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

body{
    font: inherit;
    margin: 4em;
}

header {
    border-bottom: 2px solid black;
    margin-bottom: 2.5em;
}

header .site-title,
header nav {
    display: inline-block;
}

header .site-title {
    font-size: 40px;
    font-weight: bold;
}

h1 {
    font-weight: 200;
}

nav li {
    display: inline;
}

nav ul {
    padding: 0 0 0 5em;
    margin: 0;
}

nav a {
    color: green;
    text-decoration: none;
    padding: 0.7em;
}

nav a:hover {
    background-color: green;
    color: white;
}

img {
    position: absolute;
    right: 0;
}