header {
    display: flex;
    background-color: #B5D8FF;
    flex-wrap: wrap;
    width: 100%;
    align-items:center;
    border-radius: 0.3em;
}

header>p {
    font-size: 40px;
    font-weight: bold;
    padding-left: 0.3em;
}

header>nav {
    padding-top: 1em;
}


header>nav li {
    display: inline;
    text-decoration: none;
    padding-right: 3em;
}

header>nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #3564B2;
}

@media (max-width: 500px) {
    header>p {
        flex: 1 0 100%;
        margin-bottom: 0;
    }

    header > nav {
        margin: 0 auto;
    }

    header>nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    header>nav li {
        display: block;
        text-decoration: none;
    }

    header>nav>a {
        display: block;
        padding-left: 5px;
    }
}